src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

<flow name="syncFromSalesforceToDatabase" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67" >
		<batch:job jobName="syncFromSalesforceToDatabaseBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6">
			<batch:process-records>
				<batch:step name="getUserFromDatabaseStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<db:select doc:name="Query User from Database" doc:id="e9624255-6c8a-422f-a5ab-ac502b7f3668" config-ref="Database_Config" target="IdDateInDB">
						<db:sql >SELECT Id, LastModifiedDate FROM User WHERE Email = :email</db:sql>
						<db:input-parameters ><![CDATA[#[{'email' : payload.Email}]]]></db:input-parameters>
					</db:select>
					<ee:transform doc:name="Set Id and LastModifiedDate from matching user" doc:id="c119f87d-9095-4962-b961-efe507b06a0c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	IdDB: if(vars.IdDateInDB != null) vars.IdDateInDB[0].Id else null, 
	LastModifiedDateDB: if(vars.IdDateInDB != null) vars.IdDateInDB[0].LastModifiedDate else null
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="insertUsersToDatabase" doc:id="78a74ab4-9b91-416d-985a-acda2ac377ec" acceptExpression="payload.IdDB == null">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cd" size="${page.size}">
						<ee:transform doc:name="map SFDC User to DB User" doc:id="d484063f-6d81-42ce-98ef-7cec51b04673">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
	Name 				: $.Name,
	Username 			: $.Username,
	FirstName 			: $.FirstName,
	LastName 			: $.LastName,
	Alias 				: $.Alias,
	CommunityNickname 	: $.CommunityNickname,
	Email 				: $.Email,
	EmailEncodingKey 	: $.EmailEncodingKey,
	LanguageLocaleKey 	: $.LanguageLocaleKey,
	LocaleSidKey 		: $.LocaleSidKey,
	(ProfileId			: if (vars.sfdc2dbProfilesMap == "false") $.ProfileId else vars.sfdc2dbProfilesMap[($.ProfileId)]),
	TimeZoneSidKey 		: $.TimeZoneSidKey
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<db:bulk-insert doc:name="Bulk insert Users to Database" doc:id="6d828c21-ec5f-4107-a59a-b0a73508a911" config-ref="Database_Config">
							<db:sql >INSERT INTO User(
	Username,
	FirstName,
	LastName,
	Alias,
	CommunityNickname,
	Email,
	EmailEncodingKey,
	LanguageLocaleKey,
	LocaleSidKey,
	ProfileId,
	TimeZoneSidKey,
	LastModifiedById,
	LastModifiedDate
) VALUES (
	:Username,
	:FirstName,
	:LastName,
	:Alias,
	:CommunityNickname,
	:Email,
	:EmailEncodingKey,
	:LanguageLocaleKey,
	:LocaleSidKey,
	:ProfileId,
	:TimeZoneSidKey,
	CURRENT_USER(),
	CURRENT_TIMESTAMP()
)</db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
				<batch:step name="updateUsersInDatabase" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb" acceptExpression="payload.IdDB != null  and (payload.LastModifiedDateDB &gt; payload.LastModifiedDate)">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<ee:transform doc:name="map SFDC User to DB User" doc:id="d484063f-6d81-42ce-98ef-7cec51b04672">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
	Id					: $.IdDB,
	Username 			: $.Username,
	FirstName 			: $.FirstName,
	LastName 			: $.LastName,
	Alias 				: $.Alias,
	CommunityNickname 	: $.CommunityNickname,
	Email 				: $.Email,
	EmailEncodingKey 	: $.EmailEncodingKey,
	LanguageLocaleKey 	: $.LanguageLocaleKey,
	LocaleSidKey 		: $.LocaleSidKey,
	(ProfileId			: if (vars.sfdc2dbProfilesMap == "false") $.ProfileId else vars.sfdc2dbProfilesMap[($.ProfileId)]),
	TimeZoneSidKey 		: $.TimeZoneSidKey
	}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<db:bulk-update doc:name="Bulk update users in Database" doc:id="ee6c2f71-3d4d-4f9d-a5da-bf9b31b26801" config-ref="Database_Config">
							<db:sql >UPDATE User SET
	Username  = :Username,
	FirstName = :FirstName,
	LastName  = :LastName,
	Alias  = :Alias,
	CommunityNickname  = :CommunityNickname,
	Email  = :Email,
	EmailEncodingKey = :EmailEncodingKey,
	LanguageLocaleKey = :LanguageLocaleKey,
	LocaleSidKey  = :LocaleSidKey,
	ProfileId = :ProfileId,
	TimeZoneSidKey = :TimeZoneSidKey,
	LastModifiedDate = CURRENT_TIMESTAMP(),
	LastModifiedById = CURRENT_USER()
WHERE Id = :Id</db:sql>
						</db:bulk-update>
					</batch:aggregator>
				</batch:step>				
			</batch:process-records>
			<batch:on-complete >
				<os:store key="syncState" doc:name="Set sync state to fromDatabase" doc:id="f08de372-2fb9-4aef-80ca-f6da2241fc75" objectStore="SchedulerStatus">
					<os:value><![CDATA[fromDatabase]]></os:value>
				</os:store>
			</batch:on-complete>
		
</batch:job>
	</flow>
	<flow name="syncFromDatabaseToSalesforce" doc:id="f38e4747-2470-48bd-8dc5-87e554e4b2ed" >
		<batch:job jobName="syncFromDatabaseToSalesforceBatch" doc:id="7d624dca-a570-4339-879a-e1f7bc544e37" >
			<batch:process-records>
				<batch:step name="getUserFromSalesforceStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<salesforce:query-single doc:name="Query User from Salesforce" doc:id="d8ff60c9-df2c-49bd-af44-6e2974d7b768" config-ref="Salesforce_Sfdc_config" target="IdDateInSalesforce">
						<salesforce:salesforce-query >SELECT Id, LastModifiedDate FROM User WHERE Email = ':email'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"email" : payload.Email
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Set Id and LastModifiedDate from matching user" doc:id="c119f87d-9095-4962-b961-efe507b06a0c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	(Id: vars.IdDateInSalesforce.Id) if vars.IdDateInSalesforce.Id != null, 
	(LastModifiedDateSFDC: vars.IdDateInSalesforce.LastModifiedDate) if vars.IdDateInSalesforce.LastModifiedDate != null
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertUsersInSalesforce" doc:id="78a74ab4-9b91-416d-985a-acda2ac377ec" acceptExpression="payload.Id == null  or (payload.LastModifiedDateSFDC &gt; payload.LastModifiedDate)">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cd" size="${page.size}">
						<ee:transform doc:name="Map Users for insert" doc:id="d484063f-6d81-42ce-98ef-7cec51b04673">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
	(Id	:$.IdDB) if ($.IdDB != null),
	Username: $.Username,
	FirstName: $.FirstName,
	LastName : $.LastName,
	Alias : $.Alias,
	CommunityNickname : $.CommunityNickname,
	Email : $.Email,
	EmailEncodingKey : $.EmailEncodingKey,
	LanguageLocaleKey : $.LanguageLocaleKey,
	LocaleSidKey : $.LocaleSidKey,
	(ProfileId	: if (vars.db2sfdcProfilesMap == "false") $.ProfileId else vars.db2sfdcProfilesMap[($.ProfileId)]),
	TimeZoneSidKey : $.TimeZoneSidKey
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce:upsert-bulk type="User" doc:name="Upsert bulk - Users in Salesforce" doc:id="525936a5-2183-41a3-9ea3-c4f1fd14020d" config-ref="Salesforce_Sfdc_config" externalIdFieldName="Id"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<os:store key="syncState" doc:name="Set sync state to fromSalesforce" doc:id="f08de372-2fb9-4aef-80ca-f6da2241fc75" objectStore="SchedulerStatus">
					<os:value><![CDATA[fromSalesforce]]></os:value>
				</os:store>
			</batch:on-complete>
		
</batch:job>
	</flow>		
</mule>
