src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

	<!-- This is the endponits file. In this file you should declare all your inbound and outbound endpoints, in order to control the access to your integration -->

    <flow name="triggerSyncFromAFlow" doc:name="triggerSyncFromAFlow" processingStrategy="synchronous" initialState="started">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="1000" />
			<watermark variable="lastQueryDateA" default-expression="${watermark.default.expression}" selector="MIN" selector-expression="#[payload.LastModifiedDate]" />
<<<<<<< HEAD
            <sfdc:query config-ref="Salesforce" query="SELECT AboutMe,Alias,City,CompanyName,Country,CommunityNickname,Department,Division,Email,EmailEncodingKey,Fax,FirstName,LanguageLocaleKey,LastModifiedById,LastModifiedDate,LastName,LocaleSidKey,MobilePhone,Phone,PostalCode,ProfileId,State,Street,TimeZoneSidKey,Title,Username FROM User WHERE LastModifiedDate &gt; #[flowVars['lastQueryDateA']] ORDER BY LastModifiedDate ASC LIMIT 200" doc:name="fetch users from A"/>
=======
            <processor-chain doc:name="Processor Chain">
                <logger message="#[flowVars['lastQueryDateA']]" level="INFO" category="fooX" doc:name="Logger"/>
                <sfdc:query config-ref="Salesforce" query="SELECT AboutMe,Alias,City,CompanyName,Country,CommunityNickname,Department,Division,Email,EmailEncodingKey,Fax,FirstName,LanguageLocaleKey,LastModifiedById,LastModifiedDate,LastName,LocaleSidKey,MobilePhone,Phone,PostalCode,ProfileId,State,Street,TimeZoneSidKey,Title,Username FROM User WHERE LastModifiedDate &gt; #[flowVars['lastQueryDateA']] ORDER BY LastModifiedDate ASC LIMIT 200" doc:name="fetch users from A"/>
                <logger message="#[payload.size()]" level="INFO" category="fooA" doc:name="Logger"/>
            </processor-chain>
>>>>>>> 839bba54e0d9081d8fd3d5a1f4bb62e512e1a1a6
		</poll>
        <expression-component doc:name="convert lastQueryDateA to Date"><![CDATA[// f = new java.text.SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss.SSS'Z'");
// f.setTimeZone(TimeZone.getTimeZone("UTC"));
// lastQueryDateA = f.parse(lastQueryDateA);
]]></expression-component>
        <set-variable variableName="sourceSystem" value="A" doc:name="set A as source system" />
        <batch:execute name="syncBatch" doc:name="trigger batch execution"/>
    </flow>
    
	<flow name="triggerSyncFromBFlow" doc:name="triggerSyncFromBFlow" processingStrategy="synchronous" initialState="started">
   		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="1000" />
			<watermark variable="lastQueryDateB" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
<<<<<<< HEAD
            <db:select config-ref="Database" doc:name="fetch users from B">
                <db:parameterized-query><![CDATA[SELECT AboutMe,Alias,City,CompanyName,CommunityNickname,Country,Department,Division,Email,EmailEncodingKey,Fax,FirstName,LanguageLocaleKey,LastModifiedById,LastModifiedDate,LastName,LocaleSidKey,MobilePhone,Phone,PostalCode,ProfileId,State,Street,TimeZoneSidKey,Title,Username FROM User WHERE LastModifiedDate > #[flowVars['lastQueryDateB']] ORDER BY LastModifiedDate ASC]]></db:parameterized-query>
            </db:select>
=======
            <processor-chain doc:name="Processor Chain">
                <logger message="#[flowVars['lastQueryDateB']]" level="INFO" category="fooY" doc:name="Logger"/>
                <db:select config-ref="Database" doc:name="fetch users from B">
                    <db:parameterized-query><![CDATA[SELECT AboutMe,Alias,City,CompanyName,CommunityNickname,Country,Department,Division,Email,EmailEncodingKey,Fax,FirstName,LanguageLocaleKey,LastModifiedById,LastModifiedDate,LastName,LocaleSidKey,MobilePhone,Phone,PostalCode,ProfileId,State,Street,TimeZoneSidKey,Title,Username FROM User WHERE LastModifiedDate > #[flowVars['lastQueryDateB']] ORDER BY LastModifiedDate ASC]]></db:parameterized-query>
                </db:select>
            </processor-chain>
>>>>>>> 839bba54e0d9081d8fd3d5a1f4bb62e512e1a1a6
		</poll>
        <set-variable variableName="sourceSystem" value="B" doc:name="set B as source system" />
        <batch:execute name="syncBatch" doc:name="trigger batch execution"/>
    </flow>

</mule>
